@font-face {
  font-family: 'Semibold';
  src: url('/src/fonts/PangramSemibold.otf') format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: url('/src/fonts/PangramBold.otf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: url('/src/fonts/PangramMedium.otf') format('truetype');
}

@font-face {
  font-family: 'Avocado';
  src: url('/src/fonts/AvocadoBold.otf');
}