@font-face {
  font-family: 'Semibold';
  src: url('/src/fonts/PradockSemibold.otf') format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: url('/src/fonts/PradockBold.otf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: url('/src/fonts/PradockMedium.otf') format('truetype');
}

@font-face {
  font-family: 'Rush';
  src: url('/src/fonts/PradockBold.otf');
}