@font-face {
  font-family: 'Semibold';
  src: url('/src/fonts/PradockSemibold.otf') format('truetype');
}

@font-face {
  font-family: 'Black';
  src: url('/src/fonts/PradockBlack.otf');
}

@font-face {
  font-family: 'Bold';
  src: url('/src/fonts/PradockBold.otf') format('truetype');
}

@font-face {
  font-family: 'Medium';
  src: url('/src/fonts/PradockMedium.otf') format('truetype');
}

@font-face {
  font-family: 'Hit';
  src: url('/src/fonts/Hit.otf');
}

@font-face{
  font-family: 'Italic';
  src: url('/src/fonts/PradockItalic.otf');
}