@import '../abstracts/variables/variables';
.drop-menu{
  width: 750px;
  background-color: $background;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 50px;
  .video{
    display: flex;
    background-color: $primarycolor;
    height: 100%;
    width:400px;
    opacity: 0.5;
  }
  a{
    font-size: 24px;
    font-family: 'Bold';
    display: flex;
    margin: 18px 0 18px 0;
    text-decoration: none;
    color: $primarycolor;
  }
}