@import '../base/reset.scss';
@import '../abstracts/variables/variables';

h2{
  font-family: 'Bold';
  font-size: 52px;
}
span{
  font-family: 'Semibold';
  font-size: 28px;
}

.interline{
  margin: 20px 20px 20px 0;
}


.title-type-menu{
  font-family: 'Semibold';
  font-size: 32px;
}
.description{
  font-family: 'Medium';
  font-size: 28px;
}



.wrapper-columns {
  display: flex;
  justify-content: space-between;
}

.wrapper-classic-pizza{
  padding: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.column-2{
  margin: 0 70px 0 70px
}
.wrapper-special-pizza{
  width: 100%;
}

.grid-template-three {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.double-grid{
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 70px;
}

.card-publi,
.card-publi-combo {
  cursor: pointer;
  background-color: $primarycolor;
  width: 100%;
  &:hover{
    background-color: #361410;
  }
}
.card-publi{
  height: 30%;
  margin-bottom: 20px;
}
.card-publi-combo{
  height: 67.6%;
}

.wrapper-lasagna {
  padding: 70px;
  height: 100%;
}
.wrapper-item-burguer{
  order: -1;
}


.wrapper-burguer{
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (orientation: portrait) {
  .double-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}