@import "../base/reset.scss";
@import "../abstracts/variables/variables";

h2 {
  text-transform: uppercase;
  font-family: "Rush";
  font-size: 68px;
}
span {
  font-family: "Semibold";
  font-size: 30px;
}

.navegation {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 40px 40px 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.items-ofshop {
  scrollbar-width: thin; /* Ancho de la barra de scroll en Firefox */
  scrollbar-color: yellow #555; /* Color del indicador y fondo en Firefox */

  /* Estilos del indicador de la barra de scroll para navegadores webkit */
  &::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de scroll en webkit */
  }

  &::-webkit-scrollbar-track {
    background-color: yellowgreen; /* Color de fondo en webkit */
  }

  &::-webkit-scrollbar-thumb {
    background-color: blue; /* Color del indicador en webkit */
    border-radius: 5px; /* Bordes redondeados en webkit */
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.window-shop {
  position: relative;
  padding: 30px;
  border-radius: 28px;
  background-color: #ffff;
  border: 1px solid #361410;
  color: #361410;
  margin-bottom: 24px;
  display: none;
  p {
    font-family: "Semibold";
    font-size: 30px;
  }
  h2{
    text-transform: none;
  }
  span{
    font-size: 24px;
    color: #540a05;
  }
  #cod{
    display: block;
    font-family: 'Italic';
  }
  #sub{
    display: block;
    margin-top: 20px;
    font-family: 'Italic';
  }
  .items-ofshop {
    padding: 20px;
    height: 100%;
    width: 600px;
    margin-top: 18px;
    max-height: 280px;
    overflow: auto;
  }
  .inshop {
    padding: 20px;
    height: 100%;
    margin-bottom: 24px;
    background-color: #e8dfd7;
    color: #361410;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .quantity {
      margin-right: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        height: 34px;
        width: 34px;
      }
    }
  }
  .total-pay {
    display: flex;
    justify-content: space-between;
    margin: 40px 30px 0 30px;
  }
  .btns {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    #btn1 {
      background-color: #4caf50;
    }
    #btn2 {
      background-color: #efeccb;
    }

    button {
      cursor: pointer;
      border: none;
      padding: 28px;
      font-family: "Bold";
      font-size: 28px;
    }
  }
  &.active{
    display: block;
    animation: animationBtn 0.3s ease-in-out;
  }
  @keyframes animationBtn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }


}
.shopping-cart {
  cursor: pointer;
  height: 104px;
  width: 104px;
  border-radius: 10px;
  background-color: #ababab;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 80%;
    color: #e8dfd7;
  }
}

.container-menu {
  position: relative;
  background-color: #e8dfd7;
  color: #400601;
}
.title-menu {
  margin-left: 70px;
  font-size: 100px;
  font-family: "Bold";
}

.interline {
  margin: 20px 20px 40px 0;
  transition: all 200ms;
  &:hover {
    .buttons {
      opacity: 1;
    }
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  span {
    display: flex;
    flex-direction: column;
    line-height: 0;
    font-family: "Bold";
  }
}

.title-type-menu {
  font-family: "Bold";
  font-size: 38px;
  margin-bottom: 5px;
  color: #ce3b27;
  flex-wrap: wrap;
}
.description {
  font-family: "Semibold";
  font-size: 32px;
}

.options-buy {
  margin-top: 10px;
}

.column-grid {
  background-color: blue;
}
.wrapper-horn {
  padding-bottom: 150px;
}

.wrapper-kitchen {
  padding: 150px 0 150px 0;
}

.wrapper-green {
  padding: 0 0 150px 0;
  .border {
    border-radius: 28px;
    margin: 0 70px 0 70px;
  }
}

.wrapper-columns {
  display: flex;
  justify-content: space-between;
}

.wrapper-classic-pizza {
  padding: 70px 70px 0 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.double-grid {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.card-combo {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #400601;
  border-radius: 28px;
}

.wrapper-types-pizza {
  padding: 70px 70px 0 70px;
  .wrapper-tp-pizza {
    cursor: pointer;
    border-radius: 28px;
    background-color: #540a05;
    width: 100%;
    height: 500px;
  }
}
.wrapper-pizza {
  .card-combo {
    background-color: transparent;
    .combo-1 {
      height: 60%;
      background-color: #540a05;
      border-radius: 28px;
    }
    .combo-2 {
      height: 35%;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: #540a05;
      border-radius: 28px;
    }
  }
}
.wrapper-lasagna {
  padding: 40px;
  border-radius: 28px;
  margin: 0 70px 0 70px;
  background-color: hsl(5, 97%, 13%);
  color: #efeccb;
  h2 {
    margin-bottom: 18px;
  }
  .interline {
    margin: 0;
  }
}
.wrapper-item-burguer {
  order: -1;
}

.wrapper-burguer {
  display: flex;
  flex-direction: column-reverse;
}

.wrapper-grilled,
.wrapper-bbq {
  padding: 30px;
}

.border {
  border: 1px solid #361410;
  border-radius: 28px;
  margin: 0 70px 0 70px;
}

.border-less-padding {
  padding: 40px;
  background-color: #400601;
  color: #efeccb;
  border-radius: 28px;
}

.drinks {
  height: 100%;
  width: 100%;
  h2 {
    padding-left: 70px;
  }
  .column-1 {
    padding: 0 70px 0 70px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    width: 100%;
  }
  // .interline{
  //   background-color: blue;
  // }
}
.wrapper-milkshake {
  display: flex;
  flex-direction: column;
}

.items-buy {
  height: 54px;
  margin-top: 18px;
  display: flex;
  align-items: center;

  span {
    margin: 0 18px 0 0;
    font-size: 34px;
  }
  .buttons {
    display: flex;
    height: 54px;
    width: 100%;
    opacity: 0.1;
  }

  .buy-btn {
    cursor: pointer;
    padding: 10px;
    font-size: 28px;
    font-family: "Medium";
    margin-right: 8px;
    height: 54px;
    border: none;
    background-color: #361410;
    border-radius: 5px;
    color: #efeccb;
  }
}

@media screen and (orientation: portrait) {
  .card-publi {
    height: 250px;
    margin-bottom: 20px;
  }
  .card-publi-combo {
    height: 500px;
  }
}
