@import "../base/reset.scss";
@import "../abstracts/variables/variables";

.square {
  margin-top: 54px;
  padding: 12px;
  max-width: fit-content;
  border-radius: 54px;
  transition: all 0.3s;
  &:hover {
    opacity: 1;
    padding-right: 64px;
    background-color: $primarycolor;
    span {
      color: $white-color;
    }

    #back-1 {
      display: none;
    }
    #back-2 {
      display: block;
    }
  }

  span {
    font-family: "Bold";
    color: $primarycolor;
  }
}

.back-page {
  display: flex;
  align-items: center;
  gap: 14px;
  text-decoration: none;

  img {
    width: 34px;
  }

  span {
    text-decoration: none;
    margin-right: 12px;
  }

  #back-2 {
    display: none;
  }
}

h2 {
  text-transform: uppercase;
  font-family: "Bold";
  font-size: 42px;
  color: #4caf50;
}

span {
  font-family: "Semibold";
  font-size: 30px;
}

.grid {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;

  .interline {
    margin: 0;
    margin-bottom: 40px;
  }
}

.navegation {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 40px 40px 0;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.layaout {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: #2e0e0782;
  
}
.layaout.active {
  display: flex;
}
.layaout.desactive {
  z-index: 0;
  background-color:  none;
}

.shopping-size.layaout{
  border: none;
  .window-shop{
    border-radius: 0;
  }
}

.pre-shop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 80%;
  width: 60%;
  background-color: $white-color;
  border-radius: $border-size;
}

.container-menu {
  position: relative;
  background-color: $white-color;
  color: $secondcolor;
}

.title-menu {
  margin-left: 70px;
  h1 {
    margin-top: 80px;
    color: $color-title;
    font-size: 100px;
    letter-spacing: 5px;
    font-family: "Hit";
    line-height: 32px;
    span {
      letter-spacing: 0;
      font-family: "Bold";
      color: $primarycolor;
    }
  }
}

.interline {
  margin: 20px 20px 40px 0;
  transition: all 200ms;

  &:hover {
    .buttons {
      opacity: 1;
    }
  }
}

.subtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  span {
    line-height: 10px;
    font-family: "Bold";
    color: $secondcolor;
  }
  h2 {
    color: $color-title;
    font-size: 64px;
    font-family: "Black";
  }
}

.title-type-menu {
  font-family: "Bold";
  font-size: 38px;
  margin-bottom: 5px;
  color: $color-title;
}

.description {
  font-family: "Semibold";
  font-size: 32px;
}

.options-buy {
  margin-top: 10px;
}

.wrapper-horn {
  padding-bottom: 150px;
}

.wrapper-kitchen {
  padding: 150px 0 150px 0;
}

.wrapper-green {
  .border {
    border-radius: 28px;
    margin: 0 70px 0 70px;
  }
}

.wrapper-columns {
  display: flex;
  justify-content: space-between;
}

.wrapper-classic-pizza {
  padding: 70px 70px 0 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.double-grid {
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}


.card-combo {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $primarycolor;
  border-radius: 28px;
}

.wrapper-types-pizza {
  padding: 70px 70px 0 70px;

  .wrapper-tp-pizza {
    cursor: pointer;
    border-radius: 28px;
    background-color: $primarycolor;
    width: 100%;
    height: 500px;
  }
}

.wrapper-pizza {
  .card-combo {
    background-color: transparent;

    .combo-1 {
      height: 60%;
      background-color: $primarycolor;
      border-radius: 28px;
    }

    .combo-2 {
      height: 35%;
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: $primarycolor;
      border-radius: 28px;
    }
  }
}

.wrapper-lasagna {
  padding: 54px;
  border-radius: 28px;
  margin: 0 70px 0 70px;
  background-color: $primarycolor;
  color: $white-color;

  .interline {
    margin: 0;
  }
}

.wrapper-burguer {
  display: flex;
}

.wrapper-grilled,
.wrapper-bbq {
  padding: 30px;
}

.border {
  border: 1px solid $primarycolor;
  border-radius: 28px;
  margin: 0 70px 0 70px;
}

.border-less-padding {
  padding: 40px;
  background-color: $primarycolor;
  color: $white-color;
  border-radius: 28px;
}

.drinks {
  padding: 0 72px 0 72px;

  .wrapper-milkshake,
  .wrapper-latte,
  .wrapper-lemonade,
  .wrapper-juice,
  .wrapper-drinks,
  .wrapper-beef {
    padding-top: 150px;
  }

  .subtitle {
    margin: 0;
  }

  .column-0 {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    width: 100%;
  }
}

.items-buy {
  height: 54px;
  margin-top: 18px;
  display: flex;
  align-items: center;

  span {
    margin: 0 18px 0 0;
    font-size: 34px;
  }

  .buttons {
    display: flex;
    height: 54px;
    width: fit-content;
  }

  .buy-btn {
    cursor: pointer;
    padding: 10px;
    font-size: 28px;
    font-family: "Semibold";
    margin-right: 8px;
    height: 54px;
    border: none;
    background-color: $color-title;
    border-radius: 5px;
    color: $white-color;
  
    .new-text {
      width: 170px;
      display: none;
    }
  
    &.active {
      button{
        pointer-events: none;
      }
      cursor: not-allowed;
      border: 1px solid green;
      animation: btnAnimation ease-in-out 300ms forwards;
  
      @keyframes btnAnimation {
        0% {
          border-radius:  0 80px 80px 0;
          width: 0;
        }
        100% {
          width: 100%;
          color: $white-color;
          background-color: green;
        }
      }
  
      .old-text {
        display: none;
      }
  
      .new-text {
        display: block;
      }
  
      &.revert {
        animation: none; 
        .old-text {
          display: block;
        }
        .new-text {
          display: none;
        }
      }
    }
  }
}


@media screen and (orientation: portrait) {
  .window-shop {
    width: 90%;
    height: 100%;
    border-radius: 0;
  }

  .layaout.active {
    justify-content: center;
  }
  .wrapper-horn{
    .card-combo{
      display: none;
    }
  }
  h2 {
    font-size: 54px !important;
  }
  .items-buy {
    .buttons {
      opacity: 1;
    }
  }

  .title-menu {
    margin: 0;
    h1 {
      margin-bottom: 80px;
    }
  }

  .buy-btn {
    opacity: 1;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }

  .container-menu {
    padding: 40px;
  }
  .double-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    padding: 0;
  }
  .card-combo {
    height: 480px;
    margin-bottom: 50px;
    background-color: $primarycolor;

    .combo-1 {
      display: none;
    }
    .combo-2 {
      display: none;
    }
  }
  .card-publi-combo {
    height: 100%;
  }
  .drinks {
    padding: 0;
    .column-0 {
      display: grid;
      grid-template-columns: repeat(1, auto);
      padding: 0;
    }

    h2 {
      padding: 0;
    }
  }

  .wrapper-columns {
    flex-direction: column;
  }

  .wrapper-green {
    .border {
      margin: 0;
      border: none;
    }
  }

  .wrapper-lasagna,
  .wrapper-classic-pizza,
  .wrapper-grilled,
  .wrapper-bbq,
  .wrapper-horn,
  .wrapper-kitchen,
  .wrapper-green {
    margin: 0;
    padding: 0;
  }

  .wrapper-types-pizza {
    padding: 0;
    margin-bottom: 34px;
  }

  .wrapper-lasagna {
    padding: 40px;
    margin-bottom: 54px;
  }

  .wrapper-classic-pizza {
    margin-bottom: 34px;

    .interline {
      padding: 0;
      margin: 0 0 38px 0;
    }
  }

  .wrapper-tp-pizza {
    margin-bottom: 54px;
  }

  .border-less-padding {
    margin-bottom: 54px;
  }
}
