//COlORES GLOBALES

$color-title: #ce3b27;
$white-color: #e8dfd7;
$btn-color-main: #540a05;

$background:#e8dfd7;
$primarycolor:#540a05;
$secondcolor: #361410;
$alert-btn:#d02f1d;

//Border

$border-size: 24px